{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.img.url}}" width="300" height="300">
        </div>
    <div class="col-cmd-6">
        <h4>{{movie.name}}</h4><br>
        <h6>{{movie.year}}</h6><br>
        <h6>{{movie.des}}</h6><br>
        <a class= "btn btn-warning" href="{% url 'update' movie.id %}">update</a>
        <a class= "btn btn-warning" href="{% url 'delete' movie.id %}">delete</a>
    </div>

    </div>
</div>
        {% endblock %}
